<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>翼灵一家人</title>
    <meta name="keyword" content="Fun Exam"/>
    <meta name="description" content="An exam system for students"/>
    <link rel="short icon" type="image/x-icon" href="img/logo.png"/>
    <link rel="stylesheet" href="lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/css/canves.css"/>
    <link rel="stylesheet" href="stylesheets/css/main.css"/>
    <link rel="stylesheet" href="stylesheets/css/media.css"/>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="lib/modernizr-2.6.2.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/autoHidingNavbar.js"></script>


    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- nav -->
<nav class="nav navbar navbar-inverse navbar-toggleable-md  fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-header" href="#">翼灵一家人</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav-item" id="li1">
                <a class="nav-link" >团队介绍</a>
            </li>
            <li class="nav-item" id="li2">
                <a class="nav-link" href="aboutUS-other.html">团队引力</a>
            </li>
            <li class="nav-item" id="li3">
                <a class="nav-link" href="aboutUS-other.html#members">团队成员</a>
            </li>
            <li class="nav-item" id="li4">
                <a class="nav-link" href="aboutUS-other.html#life">团队生活</a>
            </li>
            <li class="nav-item" id="li5">
                <a class="nav-link" href="aboutUS-other.html#footer-menu">关于我们</a>
            </li>
            <li class="nav-item dropdown nav navbar-nav navbar-right">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">相关链接</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <span class="dropdown-header">翼灵物联工作室</span>
                    <a class="dropdown-item" href="http://www.swpuiot.com/">翼灵官网</a>
                    <a class="dropdown-item" href="http://www.swpuiot.com/%E5%B5%8C%E5%85%A5%E5%BC%8F.html">培养方向</a>
                    <a class="dropdown-item" href="#">创意大赛</a>
                    <a class="dropdown-item" href="#">开源空间</a>
                    <a class="dropdown-item" href="#">招新系统</a>
                    <a class="dropdown-item" href="#">考试系统</a>
                    <a class="dropdown-item " href="#">翼灵一家人</a>
                </div>
            </li>

        </ul>
    </div>
</nav>
<!--content-->
<main>

    <header class="header" id="demo">
        <div class="canvaszz"> </div>
        <canvas id="canvas"></canvas>
        <div class="top-introduce">
                <h1>翼灵物联网工作室</h1>
                <p>翼灵工作室成立于2013年，隶属于物联网工程教研室，是一个集学生创新与项目实战与一体的科学性实验室。团队由留美教师梁宗文为指导老师。目前团队以探索物联网前沿科技为主导，形成嵌入式开发、移动端开发、web前端开发、服务器后端开发四大完整培养模型，以科研竞赛与外包项目实战为团队主导工作。团队各项成果丰硕，2年内承包外包项目6项，科研竞赛获省级以上奖项11项、国家级奖项7项。</p>
        </div>
    </header>

    <div class="container mycontainer">
        <div class="row">
            <div class="col-md-12">
                <div class="VivaTimeline">
                    <dl>
                        <dt>2013</dt>
                        <dd class="pos-left clearfix">
                            <div class="time">Nov</div>
                            <div class="events">
                                <div class="events-header">instituted</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded lazy" data-echo="img/time1.jpg" src="img/blank.gif"/>
                                        </div>
                                        <div class="events-desc">
                                            在物联网教研室的全体教师的支持下，物联网工程专业12级李国冬同学创建翼灵物联工作室， 物联网工程专业教研室主任周永老师担任指导教师。
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </dd>
                        <dt>2014</dt>
                        <dd class="pos-right clearfix">
                            <div class="time">Aug</div>
                            <div class="events">
                                <div class="events-header">The first prize</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded lazy" data-echo="img/time2.jpg" src="img/blank.gif"/>
                                        </div>
                                        <div class="events-desc">
                                            翼灵联工作室成员荣获第一项竞赛获奖，在武汉大学荣获TI杯全国物联网设计赛华中及西南赛区二等奖。
                                        </div>
                                    </div>
                                </div>
                                <div class="events-footer">

                                </div>
                            </div>
                        </dd>

                        <dt>2015</dt>
                        <dd class="pos-left clearfix">
                            <div class="time">Aug  /Oct  /Nov</div>
                            <div class="events">
                                <div class="events-header">perfecting</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded lazy" data-echo="img/time3.jpg" src="img/blank.gif"/>
                                        </div>
                                        <div class="events-desc">
                                            翼灵物联工作室成员在武汉华中科技大学荣获TI杯全国物联网设计竞赛华中及西南赛区特等奖。
                                            同年九月翼灵物联工作室成员在无锡国际博览中心荣获TI杯全国物联网设计竞赛全国二等奖。
                                        </div>
                                    </div>
                                    <div class="row">
                                    <div class="col-md-6 pull-left">
                                        <img class="events-object img-responsive img-rounded lazy" data-echo="img/time4.jpg" src="img/blank.gif"/>
                                    </div>
                                    <div class="events-desc">
                                        翼灵物联工作室由留美教师梁宗文博士担任指导教师。
                                    </div>
                                </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded lazy" data-echo="img/time5.jpeg" src="img/blank.gif"/>
                                        </div>
                                        <div class="events-desc">
                                            团队规范发展方向，形成嵌入式开发、移动端开发、WEB后端开发三大方向。
                                        </div>
                                    </div>
                                </div>
                                <div class="events-footer">
                                    123
                                </div>
                            </div>
                        </dd>
                        <dt>2016</dt>
                        <dd class="pos-right clearfix">
                            <div class="time">Jun  /Jul  /Aug  /Oct</div>
                            <div class="events">
                                <div class="events-header">progress</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded lazy" data-echo="img/time6.jpg" src="img/blank.gif"/>
                                        </div>
                                        <div class="events-desc">
                                            翼灵物联工作室成员荣获全国高校物联网应用创新大赛西南赛区一等奖。
                                            翼灵物联工作室第一届成员成员物联网工程专业12级同学光荣毕业，保研深造或入职知名IT公司。
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded lazy" data-echo="img/time7.jpg" src="img/blank.gif"/>
                                        </div>
                                        <div class="events-desc">
                                            灵联工作室成员荣获TI杯全国物联网设计竞赛华中及西南赛区一等奖。
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded lazy" data-echo="img/time8.jpg" src="img/blank.gif"/>
                                        </div>
                                        <div class="events-desc">
                                            翼灵物联工作室成员在全国大学生计算机设计大赛中，荣获全国一等奖。
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded lazy" data-echo="img/time9.jpg" src="img/blank.gif"/>
                                        </div>
                                        <div class="events-desc">
                                            团队第二届负责人带领翼灵物联工作室进行全方面深化改革和团队建设，组建团队第四方向WEB前端方向， 上线团队招新网站并进行大规模和高质量的团队招新，推行235工作制度和严格的管理条例。 团队下设纪律组长、外联组长、招新组长、财务组长进行各项日常工作推进，翼灵物联工作室正在蓬勃向上的发展。
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded lazy" data-echo="img/time10.png" src="img/blank.gif"/>
                                        </div>
                                        <div class="events-desc">
                                            翼灵物联工作室官方网站1.0上线。官方网址：<a href="http://www.swpuiot.com/">http://www.swpuiot.com/</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="events-footer">
                                    123
                                </div>
                            </div>
                        </dd>
                        <dt>2017</dt>
                        <dd class="pos-left clearfix">
                            <div class="time">Mar /Dep /Nov</div>
                            <div class="events">
                                <div class="events-header">Go forward</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="img/time11.png" />
                                        </div>
                                        <div class="events-desc">
                                            翼灵物联工作室官方网站2.0上线。官方网址：<a href="http://www.swpuiot.com/">http://www.swpuiot.com/</a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded" src="img/time12.jpg" />
                                        </div>
                                        <div class="events-desc">
                                            灵联工作室成员第三节四川省“互联网+”大学生创新创业大赛中，荣获铜奖!
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded " src="img/s5.jpg" />
                                        </div>
                                        <div class="events-desc">
                                            梦开始的地方，梦成长的地方，梦绽放的地方。开放，传承，一代人的责任，一代人的成长。翼灵物联工作室成立四周年！
                                        </div>
                                    </div>

                                </div>
                                <div class="events-footer">

                                </div>
                            </div>
                        </dd>
                        <dt>2018</dt>
                        <dd class="pos-right clearfix">
                            <div class="time">Nov</div>
                            <div class="events">
                                <div class="events-header">To be continue...</div>
                                <div class="events-body">
                                    <div class="row">
                                        <div class="col-md-6 pull-left">
                                            <img class="events-object img-responsive img-rounded lazy" data-echo="img/5.jpg" src="img/blank.gif"/>
                                        </div>
                                        <div class="events-desc">
                                        最好的我们一直在路上！
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>


</main>

<nav id="footer-menu">
    <ul>
        <li><a href="#"><img src="img/logo.png" alt="首页"/><span>首页</span></a></li>
        <li>
            <a href="https://github.com/" target="_blank">
                <img src="img/icon-github.png" alt="GitHub"/><span>GitHub</span>
            </a>
        </li>
        <li>
            <a href="http://www.swpu.edu.cn/" target="_blank">
                <img src="img/icon-swpu.jpg" alt="西南石油大学门户网站"/><span>西南石油大学门户网站</span>
            </a>
        </li>
        <li>
            <a href="http://scs.swpu.edu.cn/" target="_blank">
                <img src="img/icon-swpuc.png" alt="西南石油大学计算机科学学院"/><span>西南石油大学计算机科学学院</span>
            </a>
        </li>
    </ul>
</nav>
<footer id="footer">
    <address>
        <p><img src="img/icon-phone.png"/>18280435703</p>
        <p><img src="img/icon-map.png"/>西南石油大学（新都）·明理楼C1011</p>
        <p>&copy; 2017 翼灵物联工作室</p>
    </address>
</footer>
<script src="js/index.js"></script>

</body>
</html>