<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>翼灵一家人</title>
    <meta name="keyword" content="Fun Exam"/>
    <meta name="description" content="An exam system for students"/>
    <link rel="short icon" type="image/x-icon" href="img/logo.png"/>
    <link rel="stylesheet" href="lib/bootstrap.min.css"/>
    <link rel="stylesheet" href="stylesheets/css/main.css"/>
    <link rel="stylesheet" href="stylesheets/css/media.css"/>
    <script src="js/echarts.min.js"></script>
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="lib/modernizr-2.6.2.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/autoHidingNavbar.js"></script>


    <!-- Respond.js for IE 8 or less only-->
    <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="lib/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<!-- nav -->
<nav class="nav navbar navbar-inverse navbar-toggleable-md  fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand navbar-header" href="#">翼灵一家人</a>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav-item" id="li1">
                <a class="nav-link" href="aboutUs.html">团队介绍</a>
            </li>
            <li class="nav-item" id="li2">
                <a class="nav-link" href="#gravitation">团队引力</a>
            </li>
            <li class="nav-item" id="li3">
                <a class="nav-link" href="#members">团队成员</a>
            </li>
            <li class="nav-item" id="li4">
                <a class="nav-link" href="#life">团队生活</a>
            </li>
            <li class="nav-item" id="li5">
                <a class="nav-link" href="#">联系我们</a>
            </li>
            <li class="nav-item dropdown nav navbar-nav navbar-right">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">相关链接</a>
                <div class="dropdown-menu" aria-labelledby="dropdown02">
                    <span class="dropdown-header">翼灵物联工作室</span>
                    <a class="dropdown-item" href="http://www.swpuiot.com/">翼灵官网</a>
                    <a class="dropdown-item" href="http://www.swpuiot.com/%E5%B5%8C%E5%85%A5%E5%BC%8F.html">培养方向</a>
                    <a class="dropdown-item" href="#">创意大赛</a>
                    <a class="dropdown-item" href="#">开源空间</a>
                    <a class="dropdown-item" href="#">招新系统</a>
                    <a class="dropdown-item" href="#">考试系统</a>
                    <a class="dropdown-item " href="#">翼灵一家人</a>
                </div>
            </li>

        </ul>
    </div>
</nav>


    <div class="Ot-top">
    <div class="Ot-content">
        <h2>代码之外的我们</h2>
        <p>Apart from the code，Our life is colorful</p>
    </div>
 </div>

    <div class="gravitation container" id="gravitation">
        <h3 class="gra-h3">团队引力</h3>
        <span class="gra-span"></span>
         <div class="row" id="showUp">
             <div class="clo-xs-6 col-md-3">
                 <div class="gra-row-col" >
                  <img src="img/f1.png"/>
                     <h4>web后端</h4>
                     <p>讨论Web开发、技术上交流，技术研讨</p>
                 </div>
             </div>
             <div class="clo-xs-6 col-md-3">
                 <div class="gra-row-col">
                     <img src="img/f2.png"/>
                     <h4>嵌入式开发</h4>
                     <p>底层嵌入式开发、智能硬件的学习</p>
                 </div>
             </div>
             <div class="clo-xs-6 col-md-3">
                 <div class="gra-row-col">
                     <img src="img/f3.png"/>
                     <h4>Android开发</h4>
                     <p>Android开发、技术交流、问题解决</p>
                 </div>
             </div>
             <div class="clo-xs-6 col-md-3">
                 <div class="gra-row-col">
                     <img src="img/f4.png"/>
                     <h4>web前端</h4>
                     <p>以网页实战技能为基础，紧跟时代脚步</p>
                 </div>
             </div>


         </div>
    </div>

    <div id="members" class="members">
        <h3 class="gra-h3">团队成员</h3>
        <span class="gra-span"></span>
        <div class="container-fluid">
          <div class="row mem-main">
            <div class="col-md-6 leftText-e">
               <p>

                  大家都来自五湖四海的地方,啦啦啦啦啦了啦啦啦啦啦了啦啦啦啦啦略略略略略略略略略略略略略略略略略略略略略来了
                  大家都来自五湖四海的地方,啦啦啦啦啦了啦啦啦啦啦了啦啦啦啦啦略略略略略略略略略略略略略略略略略略略略略来了
               </p>
            </div>
          <div id="e-content" class="col-md-6"></div>
        </div>
        </div>
    </div>

    <div class="life" id="life">
        <h3 class="gra-h3">团队生活</h3>
        <span class="gra-span"></span>
        <div class="album">
            <div class="each-img1 ">
              <img src="img/s1.jpg" />
          </div>
            <div class="each-img2">
              <img src="img/s2.jpg"/>
          </div>
            <div class="each-img1">
                <img src="img/s5.jpg"/>
            </div>
            <div class="each-img2">
                <img src="img/s8.jpeg"/>
            </div>
            <div class="each-img2">
                <img src="img/s6.jpeg"/>
            </div>
            <div class="each-img1">
                <img src="img/s3.jpg"/>
            </div>
            <div class="each-img2">
                <img src="img/s4.jpg"/>
            </div>
            <div class="each-img1">
                <img src="img/s7.jpg"/>
            </div>
        </div>
    </div>
<nav id="footer-menu">
    <ul>
        <li><a href="#"><img src="img/logo.png" alt="首页"/><span>首页</span></a></li>
        <li>
            <a href="https://github.com/" target="_blank">
                <img src="img/icon-github.png" alt="GitHub"/><span>GitHub</span>
            </a>
        </li>
        <li>
            <a href="http://www.swpu.edu.cn/" target="_blank">
                <img src="img/icon-swpu.jpg" alt="西南石油大学门户网站"/><span>西南石油大学门户网站</span>
            </a>
        </li>
        <li>
            <a href="http://scs.swpu.edu.cn/" target="_blank">
                <img src="img/icon-swpuc.png" alt="西南石油大学计算机科学学院"/><span>西南石油大学计算机科学学院</span>
            </a>
        </li>
    </ul>
</nav>
<footer id="footer">
    <address>
        <p><img src="img/icon-phone.png"/>18280435703</p>
        <p><img src="img/icon-map.png"/>西南石油大学（新都）·明理楼C1011</p>
        <p>&copy; 2017 翼灵物联工作室</p>
    </address>
</footer>

<script src="js/map.js"></script>
<script src="js/index.js"></script>

</body>
</html>